@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-img-custom {
  background-image: url("../public/bg-button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-img-custom-services {
  background-image: url("../public/business-peoplepng.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
